<!DOCTYPE html>
<html>
<body>
    <table class="native_bar" width="100%" bgcolor="#000000" style="color:white;">
        <tbody>
            <tr>
                <td>管理後台</td>
                <td></td>
                <td></td>
                {% if user %}
                    <td>{{ user }}</td>
                {% else %}
                    <td>尚未登入</td>
                {% endif %}
                <td>Log Out</td>
            </tr>
        </tbody>
    </table>
    <table width="100%">
        <tr>
        {% if bar_context %}
            {% autoescape off %}
                {{ bar_context }}
            {% endautoescape %}
        {% endif %}
        {% if user_list %}
            {% autoescape off %}
                {{ user_list }}
            {% endautoescape %}
        {% endif %}
        </tr>
    </table>
    <div width="80%">
        <p>管理權限等級</p>
        <p>面板權限</p>
    </div>
</body>
</html>